html { font-family:Arial, Helvetica, sans-serif; color:#111; }
body {background:#ddd; }
#container {  background-color: #aaa; }
#header {  background:#ccc; }
#sidebar {  background:#bbb; }
#mainContent {  background:#aaa; }
#logo { float:right; width:60px; height:60px; margin:10px; background:#ccc; }
#logo img { width:60px; }
